.main_wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form_wrapper {
    height: 65%;
    padding: 1rem;
    width: 25%;
row-gap: 0.003rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(17, 12, 46, 0.342) 0px 48px 100px 0px;
}

.signup_txt {
    text-align: center;

    font-size: 1.8rem;
    font-weight: 500;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup_email {
    width: 90%;
    height: 3rem;
    padding: 0px 1rem;
}

.registerBtn {
    width: 90%;
    padding: 0.8rem;
    color: white;

    border-radius: 5px;
    background-color: #3F3F46;
}
@media (min-width:300px) and (max-width:600px) {
    .form_wrapper{
        width: 76%;
        margin-top: 2rem;
    }
}
/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .form_wrapper{
      width: 55%;
      height: 65%;
    }
    }