.Product_container_results {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 95%;
  justify-content: center;
  row-gap: 0.5vh;

  column-gap: 0.5vh;
}
.product_container_flex {
  display: flex;
  height: fit-content;
  width: 100%;
  
  justify-content: center;
  
}
.infinite-scroll-component__outerdiv{
  display: flex;
  width: 100%;
  justify-content: center;
}
/* mobile media query */
