.admin_nav_wrapper{
display: flex;
margin-top: 2rem;
flex-direction: row;
width: 100%;
height: fit-content;
justify-content: space-between;
padding-left: 1rem;
align-items: center;
padding-right: 1rem;
}
.msg_heading{
    font-size: 2rem;
}
.admin_profile{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.avatar_img{
    height: 35px;
    border-radius: 20px;
    width: 35px;
}
.admin_nav_actions{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 1rem;
}
.logout_link{
    text-decoration: none;
}
.notify{
    height: 10px;
    background-color: red;
    border: 2px;
    position: absolute;
    border-radius: 10px;
    top: -3%;
    right: 0;
    width: 10px;
}
.admin_noti{
    position: relative;
}
.noti{
    height: 25px;
    width: 25px;
}