.SideBar_main {
    display: flex;
    flex-direction: row;
  }
  
  .AdminSideBar_Wrapper_20 {
    width: 20%;
    height: 100vh;
    transition: 0.5s  all cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: red;

  }
  
  .AdminSideBar_Wrapper_20.narrow {
    width: 5%;
    
  }
  
  .SideBar_Toggle {
    height: 100vh;
    width: 5px;
    position: relative;
    /* background-color: orange; */
  }
  
  .btnSidebar {
    position: absolute;
    top: 50%;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 25px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    width: 25px;
  }
  
  .btnSidebar > .toggle_svg {
    height: 12px;
    width: 12px;
transition: all 0.2s;
  }
  /* ...flipping styles... */

  
  .flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  

.Sidebar_section{
  display: flex;
  flex-direction: row;
}
