.graph{
    width: 70%;
    cursor: move;
    height: 300px;
    background-color:green;
    
}
.pie_graph{
    width: 30%;
    height: 300px;
    background-color: aliceblue;
}
.graphs_wrapper{
    cursor: move;
    display: flex;
    flex-direction: row;
   
}