.notify{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgb(250,0,0);
    background: radial-gradient(circle, rgba(250,0,0,1) 0%, rgb(221, 94, 20) 100%);
    display: none;
}
.AdminNavBtn:hover {
    color: white;
    background-color: #C02F2F;
  }
  
  .AdminNavBtn:hover .AdminNavBtnTitle {
    color: white;
  }
  

.AdminNavBtn{
    border: 0.3px solid rgb(223, 222, 222);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}