.TopProps_Wrapper{
    width: 300px;
    height: 150px;
border: 1px solid black;
    border-radius: 10px;
    cursor:move;
}.TopProps_Wrapper:hover{
    background-color:orange;
}
.TopProps__headWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}