.Land_swiper {
    width: 90%;
    height: 100%;
    cursor: pointer;
}
.LandingCarsoul_span{
    width: 100%;
}


.Swiper_slider_Land {
    text-align: center;
    font-size: 18px;
    background: #fff;

   
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .Landing_carsoul_image {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}
@media (min-width:300px) and (max-width:660px) {
    .Land_swiper{
        width: 95%;
        height: 100%;
    }
}