.Forgot_wrapper {
  height: 95vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.padding_alert {
  text-align: center;
  padding: 0.8rem;
  color: #155724;
  background-color: #d4edda;
}
.logo_link {
  position: absolute;
  top: 5%;
  left: 5%;
}
.forgor-form {
  row-gap: 0.4rem;
  height: fit-content;
  width: 25%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 12, 46, 0.342) 0px 48px 100px 0px;
  padding: 2rem;
  align-items: center;
  /* border: 1px solid black; */
}
.forgor-head {
  text-align: center;
}
.forgor-tag {
  color: rgb(134, 137, 144);
  font-weight: 500;
  text-align: center;
}
.forgor-inp {
  width: 90%;
  padding: 2.8% 1rem;
  font-size: 16px;
}
/* ForgotPassword.css */
.custom-button-color {
  background-color: #165ef0; /* Your custom color code */
  /* You can add other styling here */
}

.label {
  text-align: left;
}

.forgor-btn {
  padding: 2%;
  outline: none;
  border: 1px solid rgb(14, 14, 14);
  width: 90%;
  font-weight: 400;
  border-radius: 0.2rem;
  color: azure;
  background-color: #c02f2f;
}
@media (min-width: 300px) and (max-width: 600px) {
  .forgor-form {
    width:90%;
  }
  .padding_alert {
    padding: 0.5rem;
  }
}
/* ipad media query */
/* Target iPads in both portrait and landscape modes */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .forgor-form {
    width: 50%;
  }
}
