* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Admin_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: gray;
    min-height: 100vh; /* Set a minimum height to ensure the sidebar is sticky during scrolling */
}

.logo_admin:hover{
text-decoration: none;
}
.Action-Sidebar {
    position: sticky;
    top: 0; /* Sticky elements need a 'top' value to indicate where they stick to */
    width: 15%; /* Set the sidebar width to 15% */
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgb(149, 158, 158);
    justify-content: center;
    gap: 0.5rem;
}

.arrow{
    scale: 1.2;
    width: 2rem;
    fill: black;
}
.Switch_links {
    width: 92%;
    border-radius: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 67, 67);
    font-weight: bold;
    padding: 1rem;
    border: 1.5px solid rgb(102, 82, 82);
}

.logout-btn {
    font-weight: 600;
    padding: 1rem 2rem;
    border: 1px solid rgb(102, 82, 82);
    bottom: 10%;
    left: 10%;
    border-radius: 0.3rem;
    color: red;
    position: absolute;
}

.admin-content {
    background-color: orange;
    /* Use the calc() function to calculate the remaining width after allocating 15% to the sidebar */
    width: calc(100% - 15%);
    height: fit-content;
    padding: 1rem;

}
.admin-breadCrumb{
    width: 100%;

    height: 10vh;
    color: gray;
    font-weight: 500;
    display: flex;
    align-items: center;
}
/* ... (Existing styles) */

/* Styles for breadcrumb */
.admin-breadcrumb {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .admin-breadcrumb a {
    color: #007bff;
    text-decoration: none;
  }
  
  .admin-breadcrumb a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-separator {
    margin: 0 5px;
  }
  
@media (min-width:300px) and (max-width:600px) {
    .Action-Sidebar{
        width: 55%;
    }
}