.btn_update_profilee {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: rgb(19, 16, 57);
  transition: background-color 0.17s ease, color 0.17s ease;
}
.btn_update_profilee:hover {
  background-color: rgb(36, 31, 97);
}
.edit_page_Container{
    width: 100% fit-content;
}