.heading__flex_wrapper_90 {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 10px;
    /* background-color: red; */
    justify-content: center;
}

.heading__child_70 {
    width: 88%;
    height: 100%;
    display: flex;
    /* background-color: rgb(138, 10, 10); */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cat_heading_text {
    font-size: 1.3rem;
    color: #131039;
    font-weight: bold;
}

.Nav_link {
    color: #4BB497;
    font-weight: 500;
}

.next_icon {
    color: #4BB497;
}