.navbar_container{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
   
}
*{
    list-style: none;
}.userImage_linked{
    height: 40px;
    border-radius: 15px;
    image-rendering: optimizeQuality;
}
.optional_links{
    display: flex;
    justify-content: center;
    align-items: center;
      column-gap: 1rem;
      

}
.cart-link-url-route{
    position: relative;
}
.cart-length-item{
    position: absolute;
background-color: red;
color: white;
top: -50%;
padding: 1px 10px;
scale: 0.6;
z-index: -9 ;
border-radius: 20px;
 
}
.search_dropdown{
    background-color: red;
    width: 100%;
    top: 10%;
 height: fit-content;
}
.flex-coulumn-search{
    display: flex;
    flex-direction: column;
}/* Add your existing CSS rules here */

.search_dropdown {
    background-color: #fff; /* Adjust background color */
    width: 32%;
    border-radius: 5px;    
max-height: 200px; /* Set a max height for the dropdown */
    overflow-y: scroll ; /* Enable vertical scrolling if content exceeds max height */
    position: absolute;
    z-index: 10; /* Ensure the dropdown is above other content */
    border: 1px solid #ccc; /* Add a border for styling */
  }
  
  .flex-column-search {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  /* Adjust any other styles as needed */
  @media (min-width:300px) and (max-width:660px) {
    .search_dropdown{
        width: 80%;
    }.logo_nav_Link{
        width: 90px;
        margin-left: 0.4rem;
    }
  }