.CookieConsent {
    max-width: 350px;
    width: "fit-content";
    height: fit-content;
    border-radius: 3px;
}

/* for mobile consnent */
@media screen and (min-width:300px) and (max-width:660px) {
    .CookieConsent {
        width: 100%;
        max-width: none;

    }
}