* {
  margin: 0;
  padding: 0;
}

.reset_section {
  width: 100%;
  height: 100vh;
  /* flex work */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrapper_reset-password {
  height: fit-content;
  padding: 1rem 2rem;
  border-radius: 3px;
  width: 25%;
  box-shadow: rgba(17, 12, 46, 0.342) 0px 48px 100px 0px;
}

.reset-password_head {
  font-size: 1.9rem;
  margin-bottom: 0;
  text-align: center;
}

.reset-password_lenin {
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(134, 137, 144);
}

.reset_link_home {
  position: absolute;
  top: 5%;
  left: 5%;
}

.reset_form_inp {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

/* mobile and ipad media query */
@media (min-width: 300px) and (max-width: 660px) {
  .form_wrapper_reset-password {
    width: 90%;
    height: 65%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .form_wrapper_reset-password {
    width: 70%;
  }
}

/* samsung media query */
@media screen and (width: 280px) and (height: 653px) and (orientation: portrait) {
  .form_wrapper_reset-password {
    width: 85%;
    padding: 1.5rem;
  }
}

@media screen and (width: 646px) and (height: 811px) and (orientation: portrait) {
  .form_wrapper_reset-password {
    width: 85%;
    padding: 1.5rem;
  }
}
