.card-container_shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_wrapper_shop {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;

  width: 295px;
}

.image-container_shop {
  position: relative;
  overflow: hidden;
}

.product_card_image_view_shop {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  padding: 2px;
  stroke: #333;
  stroke-width: 40px;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0 0 0 0px black;
  /* Add a 1px black outline */
}

.heart-icon.liked {
  stroke: #333;
  stroke-width: 0px;
  stroke-width: 0px;
  color: #f44336;
}

.product-info_shop {
  padding: 10px;
}

.price_shop {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.product-name_card_shop {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-style: normal;
}
.original-price_shop {
  text-decoration: line-through;
  margin-right: 8px;
  color: #808080;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.discounted-price_shop {
  color: #d01345;
  font-weight: 700;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

.sale_intro_shop {
  position: absolute;
  padding: 2px 3px;
  top: 3%;
  font-size: 12px;

  left: 0%;
  color: #d01345;
  font-weight: bolder;

  background-color: #f1edef;
  letter-spacing: 0.8px;
  /* Complementary green color */
}
.like_item_card_shop {
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: white;
  border-radius: 50px;
  padding: 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tag-links_shop {
  background-color: #d6d6d4;
  font-size: 12px;
  color: #808080;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.category_buttons_wrapper_shop {
  display: flex;
  column-gap: 0.4rem;
}

@media (min-width: 300px) and (max-width: 667px) {
  .card_wrapper_shop {
    width: 151px;
  }
  .tag-links_shop {
    font-weight: 500;
    padding: 2px 1px;
    font-size: 10px;
  }
  .product_card_image_view_shop {
    height: 210px;
  }
  .product-name_card_shop {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .card_wrapper {
    width: 300px;
  }
}
