@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  .signup_link{
    font-weight: 400;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .Alert {
    width: 100%;
    height: 30px;
    background-color: #c02f2f;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.2s; /* Added transition property with delay */
  }
  
  .alerted_wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  .close_alert_svg{
    height: 18px;
  }
  .alert_msg{
    margin-bottom: 0px;
  
  }
  
  .closebtn {
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  @media (min-width: 300px) and (max-width: 660px) {
    .Alert__phone {
      display: none;
    }
    .alert_msg{
      margin-bottom: 0px;
      font-size: 10px;
    }
  }
  