@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
.AdminHomeWrapper {
    display: flex;
    flex-direction: row;
    gap: 0rem;
   
    align-items: center;
  }
.bottom{
  flex-direction: column;
  display: flex;
position: absolute;
left: 0;
bottom: 5%;
}
.admin_Logo{
  margin-bottom: 2rem;
  width: 100%;
  margin-left: 1rem;
  height:15%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.Admin_actions_wrapper{
  display: flex;
 

  flex-direction: column;
  row-gap: 0.3rem;
}
  
.sidebartoggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    outline: none;
border-radius: 20px ;
    border: 1px solid black;
  }
  
  * {
    margin: 0;
  }
  
  .menu {
    width: 5%;
    height: 100vh;
    gap: 0.1rem;
    /* background-color: red; */
    display: flex;
    position: relative;
    flex-direction: column;
    transition: width 0.3s ease;
  }
  
  .menu-open {
    width: 18%;
  }
.SideArrow{

}
  

  .content {
    width: 100%;
    height: 100vh;
    border-left: 1px solid black;
    background-color: gray;
  }
  
  .btnWrapper{
    height: 100%;
    position: relative;
width: auto;
    display: flex;
    align-items: center;
  }
  .sidebartoggle{
    position: absolute;
    left: -100%;
  }
  /* Button */
  .AdminNavBtn{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    padding: 15px;
    justify-content: left;
    gap: 0.6rem;
    text-decoration: none;
    background-color: white;
  }
  .iconHome{
    fill: black;
height: 20px;
width: 20px;
  }

  .AdminNavBtnTitle {
    color: rgb(39, 38, 38);
    font-family: 'Fira Sans', sans-serif;
  }
  
  .menu:not(.menu-open) .AdminNavBtnTitle {
    display: none;
  }
  .menu:not(.menu-open) .AdminNavBtn {
justify-content: center;
  }

  .menu:not(.menu-open) .SideArrow {
    
      }
    
  
  .menu:not(.menu-open) .Admin_Logo {
    display: none;
      }
  @media (max-width: 660px) {
    .menu-open {
        transition: all 1s ease;
      width: 35%;
    }
    .menu {
      width: fit-content;
      transition: all 0.3s ease;
    }
  }
  