.footer_main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 34vh;
    flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
.footer_heading{
color: rgb(45, 45, 45);
font-weight: 600;
}
.footer_child{
    display: flex;
    flex-direction: column;
}
.image_flex_footer{
    display: flex;
}
.appStore_img{
    width: 100px;
    margin-right: 5px;
    
}