.Trending-Page-Container{
    width: 100%;
    height: auto;
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
}
.Trending-Page{
    min-height: 100vh;
    padding: 2rem;
}
.loading-container{
    height: 100vh;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;

}