.Order_msg_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.OrderCard{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.123) 0px 7px 20px 0px;

}