.add_product_card_main {
  width: 100%;
  color: #131039; 
  column-gap: 1rem;
  /* color: rgb(3,94,207); */
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.123) 0px 7px 20px 0px;
  /* flex work */
  display: flex;
  padding: 1rem;
}
.product_setting_head {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.images_upload_grid{
  display: flex;
}
.add_product_2_flex{
  width: 30%;
}
.add_product_1_flex{
  width: 70%;
}
.row_inputs{
  align-items: center;
}
.images_upload_grid{
  margin-bottom: 1rem;
  display: flex;
  column-gap: 1rem;
}
.upload_prview_card{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dashed gray;
  width: 40%;
  justify-content: center;
  height: 300px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  row-gap: 0.3rem;
  background-color: #F9F9F9;
}
.upload_prview_card_column{
  width: 20%;
}
/* mobile */
@media screen and (min-width:300px) and (max-width:660px) {
  .add_product_card_main{
    flex-direction: column;
  }.add_product_1_flex{
    width: 100%;
  }.add_product_2_flex{
    width: 100%;
  }
}
@media screen and (min-width:661px) and (max-width:1024px) {
  .add_product_card_main{
    flex-direction: column;
  }.add_product_1_flex{
    width: 100%;
  }.add_product_2_flex{
    width: 100%;
  }
}