@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');
.addproduct-wrapper{
width: 100%;
height: 150vh;
background-color: orange;
}
.addproduct_title{
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}