.allproduct_wrapper {
text-decoration: none;
}
.cgArrow{
fill: #f1f1f1;
font-size:20px;
}
.product_container {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.product_heading_cont{
    width: 90%;
    display: flex;
    align-items: center;

    justify-content: space-between;
    flex-direction: row;
}
.product-title {
padding: 10px 10px ;
    font-size: 2rem;
}
.add_product_link{
    padding: 10px 20px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    background-color: #0A0A0A;
}
.product_actions{
    display: flex;
    gap: 1rem;
}
.tabless{
    width: 90%;
}
.productIMG_ALL{
    object-fit: cover;
    border-radius: 12px;
    height: 50px;width: 50px;
}
.productStatus_true{
 

}
.status_quo{
color: #808b80;
border-radius: 4px;
    padding: 8px 5px;
    font-weight: 500;
    background-color: #e7f7eb;
}
.status_quo_false{
    color: #fe7858;
border-radius: 4px;
    padding: 8px 5px;
    font-weight: 500;
    background-color: #fdf5f2;
}
.product_selled{
    /* border: 1px solid black; */
    width: fit-content;
    background-color: #d6d6d6;
    border-radius: 4px;
    font-weight: bold;
    height: fit-content;
    padding: 6px 12px;
}