.user_container{

    border-radius: 5px;
    width: 100%;
    display: flex;
align-items: center;
    flex-direction: column;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.allUser_head{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.Users_title{
padding: 10px 10px;
    font-size: 2rem;
}