.orderDatagrid {
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  display: flex;
  color: #131039;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown_view {
  width: 100%;
  padding: 1rem;
  transition: all 1s ease-in-out;
  border-radius: 0px 0px 5px 5px;
  height:  fit-content;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown_view_toggle{
  width: 100%;
  padding: 1rem;
transition: all 1s ease-in-out;
  border-radius: 0px 0px 5px 5px;
 display:  none;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown_wrapper_datagrid {
  height: fit-content;
  display: flex;
  flex-direction: column;
  
}
.product_table_head{
  width: 100%;
  border:0.3px solid #3b3a3a1f;
  font-weight: bold;

  color: #131039;
  padding: 0.5rem;
  font-size: 15px;
}
.image_table{
width: 100%;
height: fit-content;
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
  padding: 0.5rem;
  border:0.3px solid #3b3a3a1f;
}
.dropdown_collapsable{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;

}
.Image_description {
  column-gap: 1rem;
  display: flex;

  height: 100%;
  align-items: center;
}
.product_table_image{
  height: 2.5rem;
  
  border-radius: 5px;
  object-fit: cover;
  width: auto;
}
.product_imageMain {
  object-fit: cover;
  width: auto;
  height: 4rem;
  border-radius: 5px;
}
.action_Wrapper {
  display: flex;
  column-gap: 1rem;
}
.mobile_next_Link {
  display: none;
}
.datagridCheck {
  margin: 1rem;
}
.mobile_sku {
  display: none;
}
.imageMain_product_order {
  width: fit-content;
}
.dropdown_Link_collapsble{
  display: none;
}
/* Media Query */

@media screen and (min-width: 300px) and (max-width: 660px) {
  .dropdown_Link_collapsble{
    display: block;
  }
  .action_Wrapper {
    column-gap: 0.2rem;
  }
  .Last_updated {
    display: none;
  }
  .price_datagrid {
    display: none;
  }
  .datagridCheck {
    padding: 2px;
    margin: 0rem;
  }
  .datagrid_title {
    display: none;
  }
  .mobile_sku {
    display: block;
    font-size: 14px;
    font-weight: bolder;
  }
  .desktop_sku {
    display: none;
  }
  .stock_status {
    display: none;
  }
  .datagrid_category {
    display: none;
  }
  .datagrid_sub {
    display: none;
  }
  .Image_description {
    column-gap: 0.2rem;
  }
  .product_imageMain {
    height: 2.3rem;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 3px 8px;
  }
}
