.signup_container {
  padding: 1rem;
  height: 100vh;
  width: 100%;
  align-items: center;
  /* flex */
  display: flex;
  justify-content: center;
}

.signup_form_wrapper {
  padding: 1rem;
  height: fit-content;
}

.signup_head {
  text-align: center;
  color: rgb(13, 13, 13);
  font-size: 2rem;
}

.Link_login {
  color: rgb(75, 180, 151);
  font-weight: bold;
  text-decoration: underline;
  margin-left: 0.5rem;
}

.para_signup {
  font-size: 15px;
  cursor: pointer;
text-align: center;
}

.input_flex_signup {
  display: flex;
  column-gap: 0.4rem;
}

.btn_next {
  width: 100%;
  align-items: center;
  margin-top: 1rem;
  justify-content: left;
  display: flex;
}


.email_head{
  text-align: center;
  font-size: 1.4rem;
  color: #666666;
  font-weight: 400;
}
.email_bold{
  font-weight: 500;

}
.email_verify_tag{
  text-align: center;
font-weight: 400;
  font-size: 15px;
  color: rgb(13, 13, 13);
}
.instruction_mail{
   background-color: #F2F2F2;
   border-radius: 5px;
   display: flex;
width: 100%;
padding: 1rem;
   justify-content: center;
   align-items: flex-start;
    min-height: 100px;
   color: rgb(13, 13, 13);
   font-size: 15px;
   flex-direction: column;
}
.icon_flex_mail{
  display: flex;
  width: 100%;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
}
.signup_otp_verify{
  width:50%;

  margin-bottom: 1rem;
}
.otp_justify{
  width: 100%;
  display: flex;
  justify-content:  center;
}
.otp_verify_submit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.otp_verify_btn{
  width: 50%;
}
.animation_frame{
  display: flex;
  justify-content: center;
  width: 100%;
}