.footer_main{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
  height: fit-content;
    flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
.footer_heading{
color: #eee;
font-weight: 600;
}
.footer_child{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
.image_flex_footer{
    display: flex;
   
}
.appStore_img{
    width: 100px;
    margin-right: 5px;
    
}
.footer_link_style{
    color: #4BB497;
    font-weight: 400;
}
@media (min-width:300px) and (max-width:600px) {
   .footer_main{
 justify-content: space-between;
    align-items: center;
   }.appStore_img{
    width: 80px;
    margin-left: 0px;
   }
  
}
