.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_wrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;

  width: 295px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.product_card_image_view {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  padding: 2px;
  stroke: #333;
  stroke-width: 40px;
  width: fit-content;
  cursor: pointer;

  box-shadow: 0 0 0 0px black;
  /* Add a 1px black outline */
}

.heart-icon.liked {
  stroke: #333;
  stroke-width: 0px;
  stroke-width: 0px;
  color: #f44336;
}

.product-info {
  padding: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.product-name_card {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 15px;
}
.original-price {
  text-decoration: line-through;
  margin-right: 8px;
  color: #808080;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.discounted-price {
  color: #d01345;
  font-weight: 700;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

.sale_intro {
  position: absolute;
  padding: 2px 3px;
  top: 3%;
  font-size: 12px;

  left: 0%;
  color: #d01345;
  font-weight: bolder;

  background-color: #f1edef;
  letter-spacing: 0.8px;
  /* Complementary green color */
}
.like_item_card {
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: white;
  border-radius: 50px;
  padding: 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tag-links {
  background-color: #d6d6d4;
  font-size: 12px;
  color: #808080;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.category_buttons_wrapper {
  display: flex;
  column-gap: 0.4rem;
}
@media screen and (min-width: 300px) and (max-width: 660px) {
  .product_card_image_view {
    height: 280px;
  }
  .card_wrapper {
    width: 201px;
  }.product-name_card{
    font-size: 13px;
  }.tag-links{
    padding: 2px 4px;
  }
}
@media only screen and (min-device-width: 661px) and (max-device-width: 1024px) and (orientation: portrait) {
  .card_wrapper {
    width: 240px;
  }.product_card_image_view{
height: 290px;
  }
}
