.error__Wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
 
    background-size: cover;
background-repeat: no-repeat;
    height: 100vh;
}
.error_text{

font-weight: bolder;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 3rem;
    font-size: 14rem;
position: absolute;
}
@media (min-width:300px) and (max-width:600px) {
    .error_text{
        font-size: 8rem;
    }
}