.Forgot_wrapper{
    height: 95vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_link{
    position: absolute;
    top: 5%;
    left: 5%;
}
.forgor-form{
row-gap: 0.4rem;
height: fit-content;
width: 25%;
display: flex;
flex-direction: column;
box-shadow: rgba(17, 12, 46, 0.342) 0px 48px 100px 0px;
padding:2rem;
align-items: center;
/* border: 1px solid black; */
}
.forgor-head{
    text-align: center;
}
.forgor-tag{
 color: rgb(95, 91, 91);
    font-weight:500;
    text-align: center;
}
.forgor-inp{
    width: 90%;
    padding: 1%;
}

.label{
    text-align: left;
}

.forgor-btn{
    padding: 2%;
    outline: none;
    border: 1px solid rgb(14, 14, 14);
    width: 90%;
    font-weight: 400;
    border-radius: 0.2rem;
    color: azure;
    background-color: #c02f2f;
}
@media (min-width:300px) and (max-width:600px) {
    .forgor-form{
        width: 76%;
    }
}