.otp-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    width: 100%;
}
.otp-logo{
    left: 5%;
    top: 5%;
    position: absolute;
}
.otp-container{
    width: 28%;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;

    box-shadow: rgba(17, 12, 46, 0.342) 0px 48px 100px 0px;
    padding: 1rem;
    border-radius: 5px;
    height: 55%;
}
.otp-submit{
    border: 1px solid #3F3F46;
    border-radius: 5px;
    color: white;
    background-color: #3F3F46;
    padding: 10px ;
  outline: none;
   width: 100%;
}

.otp-heading{
    text-align: center;
    font-size: 1.7rem;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.otp-input{
    width: 100%;
    height: 3rem;
}
@media (min-width:300px) and (max-width:600px) {
.otp-container{
    width: 65%;
}    
}

@media (min-width:768px)  and (max-width:900px){
    .otp-container{
        width: 50%;
        align-items: center;
        height: 35%;
    } 
    .otp-input{
        width: 95%;
        border: 1px solid black;
    }
}