.parental-row_product{
width: 100%;
background-color: orange;
display: flex;
height: 100vh;
}
.sidebar_product{
width: 25%;
background-color: gray;
height: 100%;
}
.product_container_cards{
width: 100%;
height: fit-content;
background-color: black;
color: white;
text-align: center;
font-size: 5rem;

}
.product-page-wrapper{
    height: fit-content;
}
.sidebar_product.toggled {
    /* Your styles for the toggled sidebar here */
    /* For example, set width to 5 */
    width: 5%;
  }