.wishlistLink {
  color: white;
  background-color: #4bb497;
  padding: 0.5rem;
}
.wislisht_empty_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}