*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Card_container{
    width: 100%;
    /* background-color: red; */
    height: 90vh;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
gap: 1rem;
    display: flex;
    flex-direction: row;
    }
    .Card_wrapper{
        height: 50%;
        cursor: pointer;
        flex-direction: column;
        display: flex;
        width: 16%;
        

    }
    .img{
        width: 100%;
        object-fit: contain;
    }
    .productName{
        font-size: 16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #525552;
        font-weight: 400;
    }
    .productPrice{
        color: #f81aa7;        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }