.Menu_Wrapper{
    display: flex;
    flex-direction: row;
width: 100%;
height: auto fit-content;
align-items: center;
justify-content: center;
gap: 2rem;
margin-top: 3rem;
margin-bottom: 1rem;
}
button{
    cursor: pointer;
    padding: 10px 30px;
}