.user_profile_aside {
    width: 18%;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: sticky;
    top: 0; /* Stick to the top of the parent */
    background-color: rgb(255, 255, 255);
    height: 100vh; /* Adjust the height to your preference */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-x: hidden; /* Enable scrolling if content overflows */
    padding: 1rem;
  }
  .user_profile_aside_toggle {
    width: 5% fit-content;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: sticky;
    top: 0; /* Stick to the top of the parent */
    background-color: rgb(255, 255, 255);
    height: 100vh; /* Adjust the height to your preference */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-x: hidden; /* Enable scrolling if content overflows */
    padding: 0.6rem;
    border-radius: 5px;
  }
  .aside_heading_sidebar_toggled {
    display: none;
  }
  /* span text for toggle links */
  .icon_text_aside {
    font-weight: 500;
  }
  .icon_text_aside_toggled {
    display: none;
  }
  
  .aside_links {
    color: rgb(19, 16, 57);
    padding: 0.5rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
  }
  .aside_links:hover {
    background-color: #4bb497;
    color: rgb(19, 16, 57);
  }
  
  .aside_links_toggled {
    justify-content: center;
    display: flex;
  }
  .aside_heading_sidebar {
    font-size: 16px;
    margin-bottom: 0.3rem;
  }
  .aside_link_flex {
    display: flex;
    flex-direction: column;
  }
  .aside_link_flex_toggled{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #84848444;
  }
  .image_cover_side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .aside_profiel_image_cover {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    height: fit-content;
  }
  .aside_user_profile_img {
    height: 80px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 100%;
  }
  .aside_user_profile_img_toggle {
    display: none;
  }
  
  .aside_profiel_image_cover:hover {
    .upload_icon_aside {
      display: block;
    }
    .aside_user_profile_img {
      opacity: 0.8;
    }
  }
  .upload_icon_aside {
    position: absolute;
    left: 40%;
    display: none;
    color: #848484;
    font-size: 1.3rem;
  }
  .aside_icon_state_toggled {
    font-size: 30px;
  }
  .aside_icon_state {
    display: block;
  }
  /* toglglle */
  .aside_icon_toggle {
    font-size: 25px;
  }
  .aside_icon_toggle_toggled {
    font-size: 50px;
    font-weight: 400;
  }
  .aside_user_toggle {
    position: absolute;
    right: 3%;
  
    display: flex;
    cursor: pointer;
    bottom: 20%;
    justify-content: center;
    border: 1px solid #848484;
    padding: 0.4rem;
    border-radius: 50%;
    align-items: center;
  }
  .aside_user_toggle:hover {
    scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  
  @media screen and (min-width:300px) and (max-width:660px) {
    .aside_user_toggle{
     display:  none;
    }
    .wishlist_page_head{
     font-size: 1.8rem;
     padding: 0.2rem;
    }
  }