.single_product_page_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.single_wrapper_80 {
  width: 80%;
  display: flex;
}
.container_desktop_images_preview {
  row-gap: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.3rem;
}
.images_overflow_single {
  height: fit-content;
  display: flex;

  overflow: hidden;
  height: max-content;
  width: 50%;
  position: sticky;

  /* set row and column gap according to  */
}
.single_images_shop {
  width: 48%;
  box-shadow: rgba(0, 0, 0, 0.068) 0.3px 1px 0.3px;
  border-radius: 2px;
}
.single_images_shop:hover {
  cursor: zoom-in;
}
.Single_product_details {
  height: fit-content;
  padding: 1rem;
  top: 0;
  position: sticky;
  width: 50%;
}
.product_name_single {
  font-size: 1.2rem;
  font-weight: 500;
  color: #131039;
}
.product_full_single {
  color: #848484;
}
.product_id_single {
  font-weight: 500;
  color: #848484;
  font-size: 13px;
}
.single_price_page {
  font-size: 25px;
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
}
.price_before_single {
  color: #848484;
  font-weight: 300;
  text-decoration: line-through;
}
.price_after_single {
  color: #d01345;
  margin-left: 0.5rem;
  font-weight: 600;
}

.button_flex_single {
  display: flex;
  column-gap: 0.3rem;
}

.icon_delivery_time {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  width: 100%;
  height: max-content;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.048) 0px 3px 8px;
}
.delivery_time_heading {
  font-size: 16px;
  color: #131039;
  margin-bottom: 0px;
  font-weight: 600;
}
.delivery_estimate {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #848484;
}
.flash_few {
  font-size: 12px;
  color: #d01345;
  font-weight: 400;
  animation: blink-animation 1.3s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
}

.discount_percentage_single {
  font-size: 1.2rem;
  color: #d01345;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.category_links_single_page {
  padding: 1rem;
}
.category_links_tags_flex {
  display: flex;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
.single_button_tag {
  color: #848484;
  border-radius: 4px;
  font-size: 14px;
  padding: 0.1rem 0.5rem;
  background-color: #d6d6d4;
}
.single_button_tag:hover {
  color: #d01345;
}
.flash_Text_p_yellow_span {
  width: auto;
  color: #131039;
  font-weight: bolder;
}
.flash_Text_p_yellow {
  background-color: #f1de0a;
  color: #131039;
  width: max-content;
  padding: 0.4rem 1.3rem;
}
.swiper_main_all {
  display: none;
}
@media screen and (min-width: 300px) and (max-width: 660px) {
  .single_wrapper_80 {
    flex-direction: column;
    width: 90%;
  }
  .Single_product_details {
    width: 100%;
  }
  .Single_product_details > p {
    margin-bottom: 0.5rem;
  }
  .images_overflow_single {
    width: 100%;
  }
  .container_desktop_images_preview {
    display: none;
  }
  .single_images_shop {
    width: 100%;
    border-radius: 5px;
  }
  .single_images_shop:hover {
    cursor: pointer;
  }
  .swiper_main_all {
    display: block;
    width: 100%;
    height: 100%;
  }
  .Slide_shop {
    border-radius: 5px;
  }
}
