.googleBTN{
    border: 2.5px solid black;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
}
.btn_flex{
    display: flex;
    flex-direction: row;
    gap:1rem;
    align-items: center;
}
.btn_text{
    font-size: 0.9rem;
}

.googleBTN:hover{

transition: 0.2s ease-in-out;
  margin-top: -2px;
}
