* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    align-items: center;
}

.nav {
    width: 100%;
    height: 80px;
    /* background-color: rgb(51, 255, 0); */
    display: flex;
    justify-content: center;
}

.nav_wrapper {
    width: 90%;
    height: 100%;
    border-bottom: 1.5px solid #5e5e5ece;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.logo-svg {
    margin-left: 1.4rem;
}

.links {
    display: flex;
    flex-direction: row;

}

.actions {
    margin-right: 1.4rem;
    display: flex;
    gap: 0.5rem;
}

.actions_btns {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}