*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Nav_wrapper{
    width: 90%;
    height: 80px;
    border-bottom: 1px solid #5E5E5E;
    margin: 0 auto;
    /* flex  is herer */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.Nav__links{

height: 100%;
width: 35%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;

}
.Nav__actions{
    background-color: red;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;


}
.Nav__menu_ICO{
    display: none;
}
