* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_100_width{
width: 100%;
height: 300px;
display: flex;
margin-top: 1rem;

justify-content: center;
flex-direction: row;
}
.trending__90_width{
    
width:90%;
height: 100%;
background-color: #D9d9d9;

}